<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript">
	$(function(){
		$("#plan_start").datepicker({
			dateFormat: "yy-mm-dd",
		});
		$("#plan_end").datepicker({
			dateFormat: "yy-mm-dd"
		});
		
		var selectedRegion = $('#sel').val();
		$("#region").val(selectedRegion).prop("selected", true);
		
		
	});
</script>
</head>
<body>
	<h2>Plan Update</h2>
	
	<input type="hidden" th:value="${p.korea_code}" id="sel">
	<form action="/plan/update" method="post">
		일정번호 : <input type="text" name="plan_no" th:value="${p.planNo}" readonly="readonly"><br>
		일정제목 : <input type="text" name="plan_title" th:value="${p.plan_title}"><br>
		작성자 : <input type="text" name="member_id" th:value="${p.member_id}"><br>
		지역 :
		<select id="region" name="korea_code">
			<option value="" selected>지역선택</option>
			<option th:each="r:${regionlist}" th:text="${r.region}" th:value="${r.code}"></option>
		</select>


		<br>
		여행시작일 : <input type="text" name="plan_start" id="plan_start" th:value="${p.plan_start}">
		&nbsp;&nbsp;&nbsp;
		여행종료일 : <input type="text" name="plan_end" id="plan_end" th:value="${p.plan_end}"><br>
		<br>
		이미지 : <input type="text" name="plan_img" id="plan_img" th:value="${p.plan_img}"><br>
		
		<div id="day">
			<div th:if="${day1_1} != null">
				<h3>DAY 1</h3>
				<input type="text" name="day1_1" id="day1_1" th:value="${day1_1}">
				<input type="text" name="day1_2" id="day1_2" th:value="${day1_2}">
				<input type="text" name="day1_3" id="day1_3" th:value="${day1_3}">
				<input type="text" name="day1_4" id="day1_4" th:value="${day1_4}">
				<input type="text" name="day1_5" id="day1_5" th:value="${day1_5}"><br>
			</div>
			
			<div th:if="${day2_1} != null">
				<h3>DAY 2</h3>
				<input type="text" name="day2_1" id="day2_1" th:value="${day2_1}">
				<input type="text" name="day2_2" id="day2_2" th:value="${day2_2}">
				<input type="text" name="day2_3" id="day2_3" th:value="${day2_3}">
				<input type="text" name="day2_4" id="day2_4" th:value="${day2_4}">
				<input type="text" name="day2_5" id="day2_5" th:value="${day2_5}"><br>
			</div>
			
			<div th:if="${day3_1} != null">
				<h3>DAY 3</h3>
				<input type="text" name="day3_1" id="day3_1" th:value="${day3_1}">
				<input type="text" name="day3_2" id="day3_2" th:value="${day3_2}">
				<input type="text" name="day3_3" id="day3_3" th:value="${day3_3}">
				<input type="text" name="day3_4" id="day3_4" th:value="${day3_4}">
				<input type="text" name="day3_5" id="day3_5" th:value="${day3_5}"><br>
			</div>
			
			<div th:if="${day4_1} != null">
				<h3>DAY 4</h3>
				<input type="text" name="day4_1" id="day4_1" th:value="${day4_1}">
				<input type="text" name="day4_2" id="day4_2" th:value="${day4_2}">
				<input type="text" name="day4_3" id="day4_3" th:value="${day4_3}">
				<input type="text" name="day4_4" id="day4_4" th:value="${day4_4}">
				<input type="text" name="day4_5" id="day4_5" th:value="${day4_5}"><br>
			</div>
		</div>
		
		
		<input type="submit" value="수정">
		<input type="reset" value="취소">
	</form>
</body>
</html>