<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색 결과</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<style type="text/css">
	* {
		padding: 0;
		margin: 0;
	}
	
	article{
		width: 80%;
		margin: auto;
	}
	.btn{
		float: right;
		margin-top: 30px;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.searchContariner{
		display: flex;
		margin-left: 25%;
	}
	.select{
		font-size: 14pt;
		font-weight: bold;
	}
	img{
		
		height: 200px;
	}
	</style>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#select").val($("#region").val()).prop("selected", true);

	})
</script>
<body>
	<input type="hidden" id ="region" th:value="${region}">
    <header>

    </header>

    <article style="margin-top: 10px;">
		<div class="searchContariner" style="height: auto; width: 100%; float: right; margin-bottom: 30px;">
			<div style=" width: 100%; float: right; margin: auto;">
				<form method="get" action="/search/result" style="display: flex;">
				<span style="width: 100%; height: auto; float: right;">
					<select class="form-select select" name="region" id="select"
						style="width: 13%; margin: auto; float: left; height: 55px;">
						<option value="0">전국</option>
						<option value="1">서울</option>
						<option value="2">경기</option>
						<option value="3">인천</option>
						<option value="4">강원</option>
						<option value="5">충남</option>
						<option value="6">세종</option>
						<option value="7">대전</option>
						<option value="8">충북</option>
						<option value="9">경북</option>
						<option value="10">대구</option>
						<option value="11">울산</option>
						<option value="12">경남</option>
						<option value="13">부산</option>
						<option value="14">전북</option>
						<option value="15">전남</option>
						<option value="16">광주</option>
						<option value="17">제주</option>
					</select> 
					<input type="text" name="keyword" class="form-control" style="float: left; width: 77%; height: 55px" required="required" placeholder="검색어를 입력하세요...">
					<button type="submit" class="w-20 btn btn-secondary btn-lg" style="float: left; margin: 0px; height: 55px; width: 10%" >검색</button>
					</span>
				</form>
			</div>
		</div>
		<div th:text="|'${keyword}'검색결과 : ${totalRecord}개의 아이템|"></div>
		<div>
			<div>
				<span id="planInfo">
					<div style="margin-top: 20px; margin-bottom: 20px;">
						<h3>여행지 정보</h3>
					</div> <!-- 카드로 들어갈 것들 -->
					<div th:if="${tripList.size() == 0}" style="margin: auto;">
						<h2>검색결과가 없습니다.</h2>
					</div>

					<div class="container ">
						<div class="row row-cols-1 row-cols-md-4 g-4">
							<div class="info col-3" style="width: 17rem; float:left; margin-right: 18px;"  th:each="trip:${tripList}"
								th:attr="no=${trip.trip_no}" type="trip">
								<div class="card"
									style="width: 17rem;  border: 0.75px solid #eaeaea; box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.1);">
									<a th:href="|/trip/detail/${trip.trip_no}|"> <img src="..."
										th:src="@{|/images/${trip.trip_img}|}" class="card-img-top"
										alt="...">
									</a>
									<div class="card-body">
										<a th:href="|/trip/detail/${trip.trip_no}|">
											<h5 class="card-title" th:text="${trip.trip_title}"></h5>
										</a>
										<p class="card-text text-truncate"
											th:text="${trip.trip_detail}" style="max-width: 300px;"></p>
										<p class="card-text" th:text="|지역 : ${trip.region}|"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</span>
			</div>
			<div >
				<button th:if="${tripList.size() >= 4}" type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{|/trip/list?keyword=${keyword}&amp;region=${region}&orderColumn=${orderColumn}|}'|">더보기</button>
			</div>
		</div>

		<div style="margin-top: 75px">
			<hr style="overflow: visible;">
			<span id="tripInfo">
				<div>
					<h3>여행 계획</h3>
				</div> <!-- 카드로 들어갈 것들 -->
				<div th:if="${planList.size()==0}" style="margin: auto;">
					<h2>검색결과가 없습니다.</h2>
				</div>
				<div class="container ">
					<div class="row row-cols-1 row-cols-md-4 g-4">
						<div class="info col-3" th:each="plan:${planList}"
							th:attr="no=${plan.plan_no}" type="plan" style="width: 17rem; float:left; margin-right: 18px;">
							<div class="card"
								style="width: 17rem; margin-right: auto; border: 0.75px solid #eaeaea; box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.1);">
								<a th:href="|/plan/detail/${plan.plan_no}|"> 
									<img src="..."
										class="card-img-top" alt="..."
										th:src="@{|/images/${plan.plan_img}|}">
								</a>
								<div class="card-body">
									<a th:href="|/plan/detail/${plan.plan_no}|">
										<h5 class="card-title" th:text="${plan.plan_title}"></h5>
									</a>
									<p class="card-text" th:text="|작성자 : ${plan.member_id}|"></p>
									<p class="card-text" th:text="|여행지역 : ${plan.plan_region}|"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</span>
			<div>
				<button th:if="${planList.size() >= 4}" type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{|/plan/list?keyword=${keyword}&amp;region=${region}&orderColumn=${orderColumn}|}'|">더보기</button>				
			</div>
		</div>
	</article>

    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>