<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<script type="text/javascript">
$(function(){
	var code;
	// 아이디 있는지 확인
	
	$('#btn_phone').click(function(){
		$.ajax({
			url : "/checkMember",
			data : {"name": $('#name').val(), "phone": $('#phone').val()},
			success : function(res){
				if(res != null){
					$.ajax({
						url : "/sendAuthCode",
						data : {"phone": $('#phone').val() },
						success : function(code){
							if(code != null){
								alert("코드 전송했습니다.")
								code = code;
								console.log(code);
								//sessionStorage.setItem("code", code);
							}
						}
					})
					alert("id가 존재합니다.")
				}else{
					alert("해당 회원이 존재하지 않습니다. 다시 시도해 주세요.")
				}
			}
		})
	})
})
</script>
<body>
    <form method="post" action="/findId">
        <label for="name">이름:</label>
        <input type="text" id="name" name="name"><br>

        <label for="phone">휴대폰 번호:</label>
        <input type="text" id="phone" name="phone"><br>

        <input type="button" value="휴대폰 인증" id='btn_phone'>
        <br>
        <label for="authCode">인증번호:</label>
        <input type="text" id="authCode" name="authCode"><br>
        
        <!-- 인증번호가 authCode와 같다는 로직 추가,버튼이벤트,submit 뭐가 먼저 실행되는지,submit에서 hidden 분별해서 hidden의 값 따라서 인증이 안되면 현재 되면 넘어가는걸로-->
        
        <input type="hidden" name="result">
        <input type="submit" value="아이디 찾기">
    </form>

    
</body>
</html>
