<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>회원가입</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- 주소등록 시 주소 찾기=>카카오 -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>   
<script> 
$(function(){
    $(document).ready(function() {
    	//휴대폰번호 입력시 다음으로 넘어감
    	  $("#phone1, #phone2, #phone3").on("input", function() {
    	    var $this = $(this);
    	    if ($this.val().length == $this.attr("maxlength")) {
    	      $this.next().focus();
    	    }
    	  });
    	});
    $(document).ready(function() {
        // 각 필드에서 값이 변경될 때마다 hidden 요소의 value 속성에 전화번호를 할당합니다.
        $('input[type="tel"]').on('input', function() {
          var phone1 = $('#phone1').val();
          var phone2 = $('#phone2').val();
          var phone3 = $('#phone3').val();
          var phone = phone1+"-"+ phone2+"-"+ phone3;
          $('#phone').val(phone);
        });
      });
	
	    $(document).ready(function() {
	        $("#check-duplicate").on("click", function() {
	            var id = $("#id").val();
	            $.ajax({
	                url: "/checkId",
	                data: {id: id},
	                success: function(data) {
	                    if (data == true) {
	                        alert("중복된 ID입니다.");
	                        $("#id").attr("readonly", true);
	                    } else {
	                        alert("사용 가능한 아이디입니다.");
	                    }
	                }
	            });
	        });
	    });
	    
	    
	    $(document).ready(function() {
	        $("#pwd-confirm").on("keyup", function() {
	            var pwd = $("#pwd").val();
	            var pwdConfirm = $("#pwd-confirm").val();
	
	            if (pwd === pwdConfirm) {
	                $("#pwd-confirm-message").text("비밀번호가 일치합니다.").css("color", "green");
	            } else {
	                $("#pwd-confirm-message").text("비밀번호가 일치하지 않습니다.").css("color", "red");
	            }
	        });
	    });
		// 주소 가져오기
		$("#addr").on("click",function(){
			new daum.Postcode({
				oncomplete: function(data){
					var roadAddr = data.roadAddress; // 도로명주소
					document.getElementById("addr").value = roadAddr;
				}
			}).open();
		});
});
    </script>
<body>
	<h1>회원가입</h1>
	<form method="post" action="/join" enctype="multipart/form-data">
		<label for="id">ID:</label>
		<input type="text" name="id" id="id" required th:value="${id}" th:readonly="${id != null}"><br>
		<button type="button" id="check-duplicate">ID 중복 체크</button><br>
		
		<label for="pwd">비밀번호:</label>
		<input type="password" name="pwd" id="pwd" required><br>
		
		<label for="pwd-confirm">비밀번호 확인:</label>
		<input type="password" id="pwd-confirm" required><br>
		<span id="pwd-confirm-message"></span><br>

		<label for="jumin">주민번호:</label>
		<input type="text" name="jumin" id="jumin" required><br>

		<label for="name">이름:</label>
		<input type="text" name="name" id="name" required><br>

		<label for="addr">주소:</label>
		<!--<input type="text" name="addr" id="addr" required><br>-->
		<input type="text" name="addr" id="addr" readonly="readonly">
		 <label for="phone">전화번호:</label>
		<input type="tel" id="phone1" maxlength="3" required>
		<input type="tel" id="phone2" maxlength="4" required>
		<input type="tel" id="phone3" maxlength="4" required><br>
		<input type="hidden" name="phone" id="phone">
		<!--<label for="phone">전화번호:</label>
		<input type="tel" name="phone" id="phone"><br>-->

		<label for="mail">이메일:</label>
		<input type="email" name="mail" id="mail" required><br>

		<label for="gender">성별:</label>
		<input type="radio" name="gender" id="male" value="M" required>
		<label for="male">남성</label>
		<input type="radio" name="gender" id="female" value="F" required>
		<label for="female">여성</label><br>

		<label for="grade">등급:</label>
		<select name="grade" id="grade" required>
			<option value="bronze">일반회원</option>
			<option value="vip">관리자</option>
		</select><br>

		<label for="member_img">사진:</label>
		<input type="file" name="member_img" id="member_img"><br>
		

		<input type="submit" value="create" id="btn_insertMember">
	</form>
</body>
</html>
