<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 폼</title>
</head>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
	$(function(){
		$("#btnLogin").click(function(e){
			e.preventDefault();
			$.ajax({
				url:"/checkLogin",
				data:{"id": $('#id').val(), "pwd": $('#pwd').val()},
				success:function(res){
					if(res =="yes"){
						$("#btnLogin").unbind('click').click();
					}
					else{
						$("#login-error").text("로그인 정보가 올바르지 않습니다.").css("color", "red");
					}
				} 
			})
		})
	})
</script>
<body>
    <form method="post" action="/login">
        <label for="id">아이디:</label>
        <input type="text" id="id" name="id"><br>
        <label for="pwd">비밀번호:</label>
        <input type="password" id="pwd" name="pwd"><br>
        <input type="submit" value="login" id="btnLogin">
    </form>

    <br>
    <form method="get" action="/findId">
        <input type="submit" value="아이디 찾기">
    </form>

    <form method="get" action="/findPwd">
        <input type="submit" value="비밀번호 찾기">
    </form>
    <div id="login-error"></div>
    <a href="/join">회원가입</a>
</body>
</html>
