<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(function(){
		sessionStorage.setItem("id",$("#id").val());
		//console.log(sessionStorage.getItem("id"))
		var status = $("#status").val();
		if(status !=null || status !=""){
			//alert("로그인 성공");
		} 
	})
</script>
<body>
main페이지
<input type="hidden" th:if="${param.status}" th:value="${id}" id="status">
	<a href="/myPage">마이페이지 가기</a>
	<a href="/myinfo">프로필(마이페이지 안에)</a>
	<a href="/findMyPlan">내 여행계획(마이페이지 안에)</a>
	
	<a href="/login">로그인하러 가기</a>
	<input type="hidden" th:value="${id}" id="id">
</body>
</html>