<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내 정보</title>
</head>
<body>
    <h1>내 정보</h1>
    <table>
        <tr>
            <th>ID</th>
            <td th:text="${member.id}"></td>
        </tr>
        <tr>
            <th>이름</th>
            <td th:text="${member.name}"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td th:text="${member.addr}"></td>
        </tr>
        <tr>
            <th>전화번호</th>
            <td th:text="${member.phone}"></td>
        </tr>
        <tr>
            <th>이메일</th>
            <td th:text="${member.mail}"></td>
        </tr>
        <tr>
            <th>성별</th>
            <td th:text="${member.gender == 'M' ? '남성' : '여성'}"></td>
        </tr>
        <tr>
            <th>등급</th>
            <td th:text="${member.grade == 'vip' ? '관리자' : '일반회원'}"></td>
        </tr>
        <tr>
            <th>프로필</th>
            <td><img th:src="@{/images/profile1.jpg}" width=100 height=100/></td>
        </tr>
    </table>
    <a href="/myinfo/edit">정보 수정</a>
</body>
</html>
