<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(function(){
		sessionStorage.setItem("id",$("#id").val());
		console.log(sessionStorage.getItem("id"))
		
	})
</script>
<body>
	<input type="hidden" th:if="${param.status}" th:value="${id}" id="status">
	<h1>마이페이지</h1>
	<a href="/beforeEditMyInfo">내 정보 보기</a>
	<a href="/findMyPlan">내 여행계획</a>
	<a href="/logout">로그아웃</a>
	<input type="hidden" th:value="${id}" id="id">
	<p th:text="${id+' 님 환영합니다'}"></p>
	
	</p>
</body>
</html>