<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vertical list</title>
    <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css"/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    
    <script src="js/bootstrap.bundle.min.js"></script>
    <style>
     * {
		padding: 0;
		margin: 0;
	}
	
	#header{
		width: 100%;
		margin: auto;
		margin-bottom: 30px;
	}
	.container{
		width: 80%;
		margin: auto;
		height: 60px;
		margin-bottom: 50px;
	}
	.list-group{
		margin-left: -20px;
	}
    </style>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(function(){
		 var id = sessionStorage.getItem("id");
		 
		 if(id == null || id==""){
			 alert("먼저 로그인 해주세요.")
			 location.href="/login"
		 }
		 if(id != null){
				$("#login").empty();
				var myPage = $("<a></a>").attr("href","/myPage").html("마이페이지")
				var a = $("<a></a>").attr("href","/logout")
				var btn = $("<button></button>").html(id).addClass("f1 gnb_login_btn").attr("id","logout")
				$(a).append(myPage,btn );
				$("#login").append(a)
			}
	})
</script>
<body>
<header>
	<div id="header">
		<div class="header2">
			<h1 class="logo fl" alt="전국여행자랑">
				<a href="/mainpage">
					<img src="/images/전국여행자랑.png" alt="전국여행자랑" width="180px" height="50px" >
				</a>
			</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle disabled"  data-bs-toggle="dropdown" aria-expanded="false">
    플래너
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/plan/list">플래너 리스트</a></li>
    <li><a class="dropdown-item" href="/plan/insert">플래너 작성</a></li>
  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle disabled" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    여행지
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/tripsearchpage">여행지 탐색</a></li>
    <li><a class="dropdown-item" href="/trip/list">여행지 리스트</a></li>
  </ul>
</div>

<div class="dropdown">
  <a><button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" onclick="location.href='/liked/likeList'" >
    관심목록
  </button></a>
  
</div>
	<div class="fr gnb_box login" id="login">
			<a href="/login" class="fr">
				<div class ="f1 gnb_login_btn">로그인</div>
			</a>
			</div>
			</div>
			<div class="clear"></div>
		</div>
</header>	
	<!--navbar : 네비게이션 바 선언-->
    <!--navbar-dar : 네비게이션 바 스타일-->
    <!--bg-dark : 네비게이션 바 배경색-->
    <!--fixed-top : 고정형 네비게이션 바 선언-->
    <!--navbar-expand : 화면크기에 따라 네비게이션 바 가로표출할지, 세로표출할지 결정-->
    <input type="hidden" th:if="${param.status}" th:value="${id}" id="status">
    
    
    <!--container-fluid class : fluid layout 제공, 화면크기에 맞게 레이아웃 변경-->
    <!-- <div class="container-fluid"> -->
    <!--container class : fixed layout 제공, 가로길이 960px로 고정-->
    <div class="container">
        <div class="row">
            <!--768px 이상에서는 열 3개 병합-->
            <!--576px 이하에서는 열 4개 병합-->
            <div class="col-md-2 col-sm-4">
                <!--list-group : 수직 목록 생성-->
                <div class="list-group">
                    <a href="/beforeEditMyInfo" class="list-group-item list-group-item-action">프로필</a>
                    <a href="/findMyPlan" class="list-group-item list-group-item-action">여행계획</a>
                </div>
            </div>
            <!--열 9개 병합-->
            <!--576px 이하에서는 열6개 병합-->
            <div class="col-9 col-sm-6">
                <h1>마이페이지</h1>
                <p>나의 정보와 여행계획을 열람할 수 있습니다.</p>   
            </div>
        </div>
    </div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>