#header{width:100%;height:64px;border-top:solid #4eb1e4 2px;position:relative;}
.logo{margin-right:13px;padding-top:11px;cursor:pointer;}
.gnb{height:62px;line-height:62px;font-family:nanum_b;font-size:16px; overflow:hidden;font-weight:bold;}
.gnb_box{height:62px;position:relative;}
.gnb_login_btn{width:63px;height:29px;line-height:29px;border:solid #f7870f 1px;border-left:0px;margin-top:17px;text-align:center;color:#fff;cursor:pointer;background:#ff9320;}
body{font-family:nanum;}
.wrap{width:1092px;margin:0 auto;position:relative;}
.fl{float:left;}
.fr{float:right;}

.dropdown-toggle::after {
    content: none;
}

.dropdown{
    position: relative;
    float: left;
    height: 62px;
    line-height: 62px;
    font-family: nanum_b;
    font-size: 16px;
    font-weight: bold;
    
}

	a {
    color: black;
    text-decoration: underline;
	}
.btn-secondary {
     --bs-btn-color: none; 
     --bs-btn-bg: noen; 
     --bs-btn-border-color: none; 

}
.btn {
   	--bs-btn-padding-x: 120px;
    --bs-btn-font-weight: none;
    --bs-btn-font-size: none; 
  
}

.dropdown-menu {
	
	
	--bs-dropdown-font-size: none;
    --bs-dropdown-min-width: 24rem;
    --bs-dropdown-padding-x: none;
    }
    
    
    .dropdown-item {
    
    font-weight: none!important;
    text-align: center;
  }

.btn-secondary {
    
     --bs-btn-hover-color: none; 
   
     --bs-btn-active-color: none;

}