#header{width:100%;height:64px;position:relative;}
.logo{margin-right:13px;padding-top:11px;cursor:pointer;}
.gnb{height:62px;line-height:62px;font-family:nanum_b;font-size:16px; overflow:hidden;font-weight:bold;}
.gnb_box{height:62px;position:relative;}
.gnb_login_btn{width:63px;height:29px;line-height:29px;border:solid #f7870f 1px;border-left:0px;margin-top:17px;text-align:center;color:#fff;cursor:pointer;background:#ff9320;}
body{font-family:nanum;}
.wrap{width:1092px;margin:0 auto;position:relative;}
.fl{float:left;}
.fr{float:right;}
.dropdown {
	
	padding-left: 114px;
  position: relative;
  display: inline-block;
  
   height: 62px;
    line-height: 62px;
    font-family: nanum_b;
    font-size: 16px;
    font-weight: bold;
}

.dropdown-menu {
  left: 100px;
  position: absolute;
  top: 100%;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu a {
	font-size: 17px;
  display: block;
  padding: 0.25rem 105px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #f8f9fa;
  color: #16181b;
  text-decoration: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
    display: inline-block;
       margin-left: none;
     vertical-align: none;
     content: none; 
     border-top: none; 
     border-right: none; 
    border-bottom: none; 
     border-left: none;
 
}

.btn {
    --bs-btn-padding-x: 112px;
    --bs-btn-padding-y: 1.375rem;
--bs-btn-font-size: 19px;
--bs-btn-line-height: 16.5px;
--bs-btn-disabled-opacity: 1.65;
    margin: 5px;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
	--bs-btn-disabled-color: Black;
    --bs-btn-disabled-bg: white;
    --bs-btn-disabled-border-color: white;
    --bs-btn-active-color: white;
    
    
    
}


.btn-secondary {
	--bs-btn-color: Black;
	--bs-btn-hover-color: Black;
	--bs-btn-hover-bg: white
	--bs-btn-active-bg: white;
	--bs-btn-active-color: Black;
    --bs-btn-bg: white;
    --bs-btn-active-border-color: white;
    --bs-btn-border-color: white;
    border: none;
    --bs-btn-hover-bg: white --bs-btn-active-bg: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg : white;
}