@charset "UTF-8";


.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


.zone_cont{display: none; width: 100%;}
.zone_cont.on{display: block;}
.zone_cont .area_left{float: left;width:322px;}
.list_zone .box_logo .logo{float:left;}
.list_zone .box_logo .name{display: inline-block;margin-left:5px;font-weight:800;color: #222; font-size: 30px; vertical-align: middle;}
.list_zone .box_logo p{float:left;font-size:18px;letter-spacing:-0.25px;margin-top: 10px;color:#333;}
.list_zone .box_logo p:before{content:'';display:inline-block;width:1px;height:25px;background:#efefef;margin:0 15px 0 16px;vertical-align: -6px;}
.zone_cont .area_left span{display:inline-block;font-size:13px;color:#aeaeae;font-weight: 300;padding:17px 0 0;}
.zone_cont .area_left span:after{content:'';display:block;width:100%;height:1px;background:#aeaeae;}
.zone_cont .area_left .txt_info{margin-top:48px;}
.zone_cont .area_left .txt_info strong{color: #000; font-size:30px;;font-weight:700; letter-spacing: -2px; line-height:36px;}
.zone_cont .area_left .txt_info p{margin-top:2px;color:#353535;font-size:18px;}
.zone_cont .area_left .btn_detail{display: inline-block;margin-top:37px;width:108px;height:34px;padding-left:20px;line-height:34px; border: 1px solid #666;border-radius:50px;letter-spacing:-0.5px;background: url(../images/main/ico_narrow2.gif) 94px 50% no-repeat;color:#666; font-size: 15px;}
.zone_cont .area_left .btn_detail:hover{border:1px solid #000;color:#000;}

.zone_cont .area_mid{float: left;width:257px;margin:0 0 26px;}
.zone_cont .area_mid a{display:block;}
.zone_cont .area_mid a:focus{outline: 3px solid red; outline-offset: 1px;}
.zone_cont .area_mid .img{text-align: center;display:inline-block;width:226px;height:320px;border-radius:10px;box-shadow: 14px 14px 43px 0px rgba(15, 37, 72, 0.2);}
.zone_cont .area_mid .img img{width:100%;height:100%;}
.zone_cont .area_right{float: right;width:300px;}
.zone_cont .area_right ul{padding: 0 0;}
.zone_cont .area_right ul li{width: 100%;margin-top:10px;}
.zone_cont .area_right ul li:first-child{margin-top:0;}
.zone_cont .area_right ul li > div:hover{border:1px solid #666;}
.zone_cont .area_right ul li > div{position:relative;overflow: hidden; width: 100%;height:100px;padding: 28px 45px 25px 20px;border: 1px solid #e6e6e6;box-sizing: border-box;border-radius:10px;}
.zone_cont .area_right ul li > div.img_full{padding:0}
.zone_cont .area_right ul li > div.img_full img{width:100%;height:100%;}
.zone_cont .area_right ul li.obj3 > div.img_full img{width:144px;height:99px;}
.zone_cont .area_right ul li.obj1 > div.img_full img{width:299px;height:99px;}
.zone_cont .area_right ul li strong{display: block;letter-spacing:-0.5px;padding-bottom: 5px; font-size: 14px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis;}
.zone_cont .area_right ul li .bn_txtR{color: #ff0068;}
.zone_cont .area_right ul li .bn_txtB{color: #0a97cd;}
.zone_cont .area_right ul li .bn_txtG{color: #00b500;}
.zone_cont .area_right ul li a{display:block; color: #000; font-size: 18px;letter-spacing:-1px;line-height: 1.2;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; }
.zone_cont .area_right ul li .leftBox{float: left; width: 146px; padding: 12px 20px 0;}
.zone_cont .area_right ul li .rightBox{float: right; width: 146px; padding: 12px 20px;}
.zone_cont .area_right ul li .leftBox strong,.zone_cont .area_right ul li .rightBox strong{font-size:14px;letter-spacing:-0.5px;}
.zone_cont .area_right ul li a:after{content:'';display:inline-block;width:100%;height:16px;position:absolute;right:30px;top:39px;background: url(../images/main/ico_zone_cont.png) 100% 0  no-repeat;color:#fff;}
.zone_cont .area_right ul li > div:hover a:after{background-position:100% -16px;}
.zone_cont .area_right ul li.obj3 a:after{position:static;display:block;margin:8px auto 0;}

.zone_cont .list_sub{position:relative;clear:both;padding:13px 40px 12px 40px; background:#f7f7f7;border-radius:10px;}
.zone_cont .list_sub .inr{overflow:hidden;height:25px;}
.zone_cont .list_sub.on .inr{overflow:visible !important;;height:auto !important;}
.zone_cont .list_sub ul{margin-left:-20px;}
.zone_cont .list_sub ul:after{content:'';display:block;clear:both;}
.zone_cont .list_sub li{float: left;margin-left:20px;}
.zone_cont .list_sub li a{display:block;padding:2px 0;font-size:15px;color: #000;}
.zone_cont .list_sub li a:hover{font-weight:800;}
.zone_cont .list_sub .btn_more{display:none;position:absolute;bottom:15px;right:30px;height:20px;padding-right: 14px; color: #666; font-size: 16px; background: url(../images/sub/ico_arrowbtm.png) 100% 50%/7px 4px no-repeat;line-height:20px;}
.zone_cont .list_sub.on .btn_more{background:url(../images/sub/ico_arrowtop.png) 100% 50%/7px 4px no-repeat;}
/* 지역 정보 전체보기 (모바일 화면 없음) */
.contents_zone .zone_cont{display:block;min-width:940px !important;margin-bottom:0;padding:60px 0;border-style: solid;border-width: 0 0 4px 0;border-image: url(../images/sub/dot_line.gif) 0 0 4 0 fill repeat}
.contents_zone .zone_cont:last-child{border-width: 0 0 0 0;}
.contents_zone .zone_cont .area_right{clear:none;width: 32%;}
.contents_zone .zone_cont .area_right ul li > div.img_full{padding:0}
.contents_zone .zone_cont .area_right ul li a{font-size: 20px;}
.contents_zone .zone_cont .area_right ul li .leftBox{width: 146px; padding:13px 14px;}
.contents_zone .zone_cont .area_right ul li .rightBox{width: 146px; padding:13px 14px;}

.contents_zone .zone_cont.logo_list{width: 100%; padding: 40px 0 30px 0;}
.contents_zone .zone_cont.logo_list li{display: inline-block; margin-right: 26px; margin-bottom: 20px;}

.zone_wrap {
    background: #edeef2;
    padding-top: 31px;
    position: relative;
}

.zone_wrap:before {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background: #edeef2;
    z-index: 10;
}

.zone_wrap .tit {
    position: relative;
    height: 59px;
    overflow: hidden;
}

.zone_wrap .tit h2 {
    float: left;
    font-weight: 800;
    font-size: 22px;
    color: #333;
    letter-spacing: -1px;
    line-height: 59px;
}

.zone_wrap .toggle {
    float: right;
    padding-right: 2px;
}

.zone_wrap .switch_wrap {
    float: left;
    margin-top: 18px;
}

.zone_wrap .switch_wrap + .switch_wrap {
    display: none;
}

.zone_wrap .switch_wrap em {
    display: inline-block;
    margin: 0 5px 0;
    font-size: 14px;
    color: #000;
    vertical-align: middle;
}

.zone_wrap .tog_wrap {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 21px;
}

.zone_wrap .tog_wrap input {
    opacity: 0;
    width: 0;
    height: 0;
}

.zone_wrap .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: #d3d3d3;
    -webkit-transition: .4s;
    transition: .4s;
}

.zone_wrap .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    top: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.zone_wrap .slider span {
    font-size: 0;
    text-indent: -9999px;
}

.zone_wrap .slider .on {
    display: none;
}

.zone_wrap .slider .off {
    display: block;
}

.zone_wrap .slider.on .on {
    display: block;
}

.zone_wrap .slider.on .off {
    display: none;
}

.zone_wrap .tog_wrap input:checked + .slider, .zone_wrap .tog_wrap .slider.on {
    background: #13294b;
}

.zone_wrap .tog_wrap input:focus + .slider {
    /*box-shadow: 0 0 1px #13294b;*/
    outline: 2px solid red;
}

.zone_wrap .tog_wrap input:checked + .slider:before, .zone_wrap .tog_wrap .slider.on:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.zone_wrap .list_zone {
    position: relative;
    padding-bottom: 50px;
    width: 940px;
    margin: 0 auto;
}

.zone_wrap .list_zone .swiper-container2 {
    border-top: 2px solid #333;
    position: relative;
    overflow: hidden;
    height: 67px;
    align-items: center;
    background: none;
}

.zone_wrap .list_zone .swiper-container2 .swiper-wrapper {
    width: 100%;
    margin: 10px 0 0;
    padding: 0 0 0 1px;
}

.zone_wrap .list_zone .swiper-slide {
    position: relative;
    width: 49px;
    text-align: center;
}

.zone_wrap .list_zone .swiper-container2.type0 .swiper-slide {
    width: 55px;
}

.zone_wrap .list_zone .swiper-container2.type1 .swiper-slide {
    width: 52px;
}

.zone_wrap .list_zone .swiper-container2.type2 .swiper-slide {
    width: 49px;
}

.zone_wrap .list_zone .swiper-container2.type3 .swiper-slide {
    width: 47px;
}

.zone_wrap .list_zone .swiper-slide button {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 16px;
    color: #333;
}

.zone_wrap .list_zone .swiper-slide button:hover {
    background: #13294b;
    color: #fff;
    border-radius: 50px;
    box-shadow: 4px 5px 12px 0px rgba(19, 41, 75, 0.3);
}

.zone_wrap .list_zone .swiper-slide.on button {
    background: #13294b;
    color: #fff;
    border-radius: 50px;
    box-shadow: 4px 5px 12px 0px rgba(19, 41, 75, 0.3);
}

.zone_wrap .list_zone .swiper-slide.on button:focus {
    outline: 2px solid red;
}

.zone_wrap .list_zone #zone17.swiper-slide.on button, .zone_wrap .list_zone #zone17.swiper-slide button:hover {
    box-shadow: -1px 5px 12px 0px rgba(19, 41, 75, 0.3);
}

.zone_wrap .list_zone .box_logo {
    width: 100%;
    padding: 37px 0 26px;
    float: none;
    margin: 0;
}

.zone_wrap .list_zone .box_logo::after {
    content: '';
    display: block;
    clear: both;
}

.zone_wrap .list_zone .zone_top {
    float: right;
    width: 40%;
    padding: 40px 0 26px;
    text-align: right;
}

.zone_wrap .list_zone .zone_top .btn_all {
    display: inline-block;
    color: #000;
    padding-left: 19px;
    background: url(../images/sub/ico_moreplus.png) 0 4px no-repeat;
    color: #000;
}

.zone_wrap .list_zone .zone_top .btn_mp_view {
    display: inline-block;
    margin-right: 25px;
    padding-left: 22px;
    background: url(../images/main/ico_lc.png) no-repeat 0 0/16px 16px;
    color: #000;
}

.zone_wrap .zone_box {
    padding: 0 30px 23px 30px;
    background: #fff;
    border-radius: 10px;
}
