<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title> 
<link rel="stylesheet" type="text/css" href="/css/mainpage.css/">
 <link rel="stylesheet" type="text/css" href="/css/mainpage2.css/"> 
<link rel="stylesheet" type="text/css" href="/css/tripsearchpage.css/">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
<link rel="stylesheet" type="text/css" href="/css/header.css/">

<style>
.card{
	
	--bs-card-border-color: none;
	}
	
.card-img-top{
	
	height:200px;
}	

</style>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript"> 
  $(function(){
    
    $(".region-btn").click(function(){
        var korea_code = $(this).attr("korea_code");//버튼이 클릭 되었을 시, 개별 버튼의 값이 kind 변수에 담겨집니다.
      	console.log(korea_code);
      	
      	
        
        $.ajax({
            
            url : "/tripajax",
            cache : false,
            headers : {"cache-control":"no-cache","pragma":"no-cache"},
            data : {
                "korea_code":korea_code   // 버튼의 value값에 따라 작동합니다.
                
            },
            success : function(data){
                console.log(data[0]);
                $("#trip_container").empty(); 
                $.each(data, function(){
                	var trip_list = $("<div></div>").addClass("trip_list");
                	var card= $("<div></div>").css({'width': '340px', 'height':'300px', 'float': 'left', 'margin-right': '24px', 'margin-bottom': '30px', 'border': '0.75px solid #eaeaea', 'box-shadow': '3px 3px 4px rgba(26, 26, 26, 0.1)','cursor':'pointer'}).addClass("card").click(function() {
                		  window.location.href = 'http://localhost:8080/mainpage'; // 이동하고자 하는 사이트의 URL로 설정
                	});
					var card_img = $("<img/>").addClass("card-img-top").attr({src:"images/"+this.trip_img}) 
                	var card_body = $("<div></div>").addClass("card-body");
					var card_title=	$("<h5></h5>").addClass("card title").html(this.trip_title);
					var card_text1=	$("<p></p>").addClass("card-text text-truncate").html(this.trip_detail).css('max-width', '300');
					var card_text2=	$("<p></p>").addClass("card-text text-truncate").html("지역 : "+this.trip_addr);

					$(card).append(card_img);
					$(card_body).append(card_title);
					$(card_body).append(card_text1);
					$(card_body).append(card_text2)
					$(card).append(card_body);
					$(trip_list).append(card);
					$("#trip_container").append(trip_list);
					
                })
        
            },
            error : function(data){
                alert('error');
            }//error
        })//ajax
    });//button click
    
    
    $(".region-btn").on('click',function(){
       
    	var korea_code = $(this).attr("korea_code");       //버튼이 클릭 되었을 시, 개별 버튼의 값이 kind 변수에 담겨집니다.
        //	console.log(korea_code);
        
        
        $.ajax({
            
            url : "/planajax",
            cache : false,
            headers : {"cache-control":"no-cache","pragma":"no-cache"},
            data : {
                "korea_code":korea_code 
                
            },
            success : function(data){
                console.log(data[0]);
                $("#plan_container").empty(); 
                $.each(data, function(){
                	var list_group = $("<div></div>").addClass("list-group");
                	var action = $("<a></a>").addClass("list-group-item list-group-item-action");
                	var content = $("<div></div>").addClass("d-flex w-100 justify-content-between");
					var title =	$("<h5></h5>").addClass("mb-1").html(this.plan_title);
					var addr =	$("<p></p>").addClass("mb-1").html(this.member_id);

					
					$(content).append(title);
					$(action).append(content);
					$(action).append(addr);
					$(list_group).append(action);
					$("#plan_container").append(list_group);
					

                	
                	
                })
             
            },
            error : function(data){
                alert('error');
            }//error
        })//ajax
    });//button click  
    
    $(".region-btn").click(function(){
        var korea_code = $(this).attr("korea_code");       //버튼이 클릭 되었을 시, 개별 버튼의 값이 kind 변수에 담겨집니다.
        var h2;
 
        $(".tit").empty();
        if($(this).val() != ""){
        	h2 = $("<h2></h2>").html($(this).val())
        }else{
        	h2 = $("<h2></h2>").html($(this).html())
        }
        
        console.log("테스트:"+$(this).val());
      	console.log("koreaCode:"+korea_code);
        console.log("h2:"+$(this).html())
         $(".tit").append(h2)

        $.ajax({
            
            url : "/regionajax",
            cache : false,
            headers : {"cache-control":"no-cache","pragma":"no-cache"},
            data : {
                "korea_code":korea_code   // 버튼의 value값에 따라 작동합니다.
                
            },
            success : function(data){
                console.log(data[0]);
                $("#trip_container").empty(); 
                $.each(data, function(){
                })
              
            },
            error : function(data){
                alert('error');
            }//error
        })//ajax
    });//button click 
 
}); 
</script>
</head>
<body>
<body>
 	<div id="header">
		<div class="wrap">
			<h1 class="logo fl" alt="전국여행자랑">
				<a href="#">
					<img src="/images/전국여행자랑.jpg" alt="전국여행자랑" >
				</a>
			</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    플래너
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">플래너 리스트</a></li>
    <li><a class="dropdown-item" href="#">플래너 작성</a></li>
  </ul>
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    여행지
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">여행지 탐색</a></li>
    <li><a class="dropdown-item" href="#">여행지 리스트</a></li>
  </ul>
  <button class="btn btn-secondary dropdown-toggle" type="button"><a href="#">관심목록</a></button>
</div> 
		<div class="fr gnb_box">
			<a href="#" class="fr">
				<div class ="f1 gnb_login_btn">로그인</div>
			</a>
			</div>
			<div class="clear"></div> 
		</div>
	</div>
	<div class="clear"></div>
	<div class="zone_wrap">
		<div class="list_zone">
			<div class="tit">
				<h2 id="zoneTitle">서울</h2>
			</div>
			<div class="swiper-container2 type0" id="zoneArr">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="1">서울</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="2" >경기</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="3" >인천</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="4" >강원</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="5" >충남</button></div>
					<div class="swiper-slide"><button type="button"	class="region-btn" korea_code="6" >세종</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="7" >대전</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="8" >충북</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="9" >경북</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="10" >대구</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="11" >울산</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="12" >경남</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="13" >부산</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="14" > 전북</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="15" >전남</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="16" >광주</button></div>
					<div class="swiper-slide"><button type="button" class="region-btn" korea_code="17" >제주</button></div>
				</div>
			</div>
			<div class="zone_box, page white" style=" height: 700px;">
					<div class="area_mid" id="areamid" style=" float: left; width: 500px;">
						<img src="/images/전국팔도.jpg" id="map" style="width: 100%;" alt="전국팔도">
						<button class="region-btn" type="button" korea_code="1" id="서울"value ="서울"></button>
						<button class="region-btn" type="button" korea_code="2" id="경기" value ="경기"></button>
						<button class="region-btn" type="button" korea_code="3" id="인천" value ="인천"></button>
						<button class="region-btn" type="button" korea_code="4" id="강원" value ="강원"></button>
						<button class="region-btn" type="button" korea_code="5" id="충남" value ="충남"></button>
						<button class="region-btn" type="button" korea_code="6" id="세종" value ="세종"></button>
						<button class="region-btn" type="button" korea_code="7" id="대전" value ="대전"></button>
						<button class="region-btn" type="button" korea_code="8" id="충북" value ="충북"></button>
						<button class="region-btn" type="button" korea_code="9" id="경북" value ="경북"></button>
						<button class="region-btn" type="button" korea_code="10" id="대구" value ="대구"></button>
						<button class="region-btn" type="button" korea_code="11" id="울산" value ="울산"></button>
						<button class="region-btn" type="button" korea_code="12" id="경남"value ="경남"></button>
						<button class="region-btn" type="button" korea_code="13" id="부산"value ="부산"></button>
						<button class="region-btn" type="button" korea_code="14" id="전북"value ="전북"></button>
						<button class="region-btn" type="button" korea_code="15" id="전남"value ="전남"></button>
						<button class="region-btn" type="button" korea_code="16" id="광주"value ="광주"></button>
						<button class="region-btn" type="button" korea_code="17" id="제주"value ="제주"></button>
						
							</div>	
					<div id="arearight">
						<div class="page_desc" style="color: black;">여행지 플래너</div>
							<div id="plan_container">
							<div class="list-group">
							  <a href="#" class="list-group-item list-group-item-action" th:each="plan:${PlanSearch}" >
							    <div class="d-flex w-100 justify-content-between">
							      <h5 class="mb-1" th:text="${plan.plan_title}"></h5>
							    </div>
							    <p class="mb-1" th:text="${plan.plan_region}"></p>
							  </a>
							  </div>
							</div>
					</div>
			</div>
		</div>
				</div>
			</div>
		</div>
	</div>
<div class="page white" style="padding-top: 20px;">
		<div class="wrap">
				<div class="clear">
		</div>
		<div class="intro_list">
			<div class="wrap">
				<div class="page_title">여행지</div>
				
				<div class="page_desc">전국여행자랑이 자랑하는 여행지</div>
					<div id="trip_container">
						<div class="trip_list" th:each="trip:${TripSearch}">
							<div class="card"  OnClick="location.href ='#'"style="width: 340px; height: 300px; float: left; margin-right: 24px; margin-bottom: 30px; border: 0.75px solid #eaeaea; box-shadow: 3px 3px 4px rgba(26, 26, 26, 0.1); cursor:pointer;">
								<img src="..." class="card-img-top"  alt="..." th:src="@{|/images/${trip.trip_img}|}">
								<div class="card-body">
									<h5 class="card title" th:text="${trip.trip_title}"></h5> 
									<p class="card-text text-truncate" th:text="${trip.trip_detail}" style="max-width: 300px;"></p>
									<p class="card-text text-truncate" th:text="|지역 : ${trip.trip_addr}|"></p>
								</div>
							</div> 
						</div>		
					</div>
			</div>
		</div>
	</div>
	<div class="more_btn" onclick="location.href='/ko/plan';">여행지 모두보기</div>
</div> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>