<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>여행지 상세</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f12cedc04a3b71edb51a90ae7835e50f"></script>
<script type="text/javascript">
	$(function(){
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
	    mapOption = { 
	        center: new kakao.maps.LatLng($("#lat").val(), $("#lng").val()), // 지도의 중심좌표
	        level: 3 // 지도의 확대 레벨
	    };
	
		// 지도를 표시할 div와  지도 옵션으로  지도를 생성
		var map = new kakao.maps.Map(mapContainer, mapOption); 
		
		var markerPosition  = new kakao.maps.LatLng($("#lat").val(), $("#lng").val()); 

		// 마커를 생성
		var marker = new kakao.maps.Marker({
		    position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정
		marker.setMap(map);
	});
</script>
</head>
<body>
	<h1>여행지 상세</h1>
	<div>
		<label th:for="hit">조회수 : </label> 
		<span th:text="${trip.hit}"></span>
	</div>
	<div>
		<label th:for="tripTitle">관광지명 : </label> 
		<span th:text="${trip.tripTitle}"></span>
	</div>
	<div>
		<label th:for="region">지역명 : </label> 
		<span th:text="${region}"></span>
	</div> 
	<div>
		<label th:for="tripTel">전화번호 : </label> 
		<span th:text="${trip.tripTel}"></span>
	</div>
	<div>
		<label th:for="site">웹사이트 : </label> 
		<span th:text="${trip.site}"></span>
	</div>
	<div>
		<label th:for="tripAddr">주소 : </label> 
		<span th:text="${trip.tripAddr}"></span>
	</div>
	<div>
		<label th:for="closed">휴무일 : </label> 
		<span th:text="${trip.closed}"></span>
	</div>
	<div>
		<label th:for="opened">이용시간 : </label>
		<span th:text="${trip.opened}"></span>
	</div>
	<div>
		<label th:for="fare">이용요금 : </label>
		<span th:text="${trip.fare}"></span>
	</div>
	<div>
		<label th:for="tripDetail">상세정보 : </label>
		<span th:text="${trip.tripDetail}"></span>
	</div>
	<div>
		<label th:for="tripImg">이미지 : </label>
		<div th:text="${trip.tripImg}"></div>
		<img th:src="@{'/images/'+${trip.tripImg}}" width="100" height="100"/>
		<div th:each="img:${imgList}">
			<div th:text="${img.fname}"></div>
			<img th:src="@{'/images/'+${img.fname}}" width="100" height="100"/>
		</div>
	</div>
	<div id="map" style="width:100%;height:350px;"></div>
	<input type="hidden" th:value="${trip.lat}" id="lat">
	<input type="hidden" th:value="${trip.lng}" id="lng">
	
	<!-- 관리자일 때, 수정, 삭제 버튼 보이게 -->
	<div th:if="${grade} == 'admin'">
		<a th:text="수정" th:href="@{|/trip/tripUpdate/${trip.tripNo}|}"></a>
		<a th:text="삭제" th:href="@{|/trip/tripDelete/${trip.tripNo}|}"></a>
	</div>
</body>
</html>