<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>여행지 상세</title>
</head>
<body>
	<h1>여행지 상세</h1>
	<div>
		<label th:for="tripTitle">관광지명 : </label> 
		<span th:text="${trip.tripTitle}">
	</div>
	<div>
		<label th:for="tripTitle">지역명 : </label> 
		<div th:text="${region}">
	</div> 
	<div>
		<label th:for="tripTel">전화번호 : </label> 
		<span th:text="${trip.tripTel}">
	</div>
	<div>
		<label th:for="site">웹사이트 : </label> 
		<span th:text="${trip.site}">
	</div>
	<div>
		<label th:for="tripAddr">주소 : </label> 
		<span th:text="${trip.tripAddr}">
	</div>
	<div>
		<label th:for="closed">휴무일 : </label> 
		<span th:text="${trip.closed}">
	</div>
	<div>
		<label th:for="opened">이용시간 : </label>
		<span th:text="${trip.opened}">
	</div>
	<div>
		<label th:for="fare">이용요금 : </label>
		<span th:text="${trip.fare}">
	</div>
	<div>
		<label th:for="tripDetail">상세정보 : </label>
		<span th:text="${trip.tripDetail}">
	</div>
	<div>
		<label th:for="tripImg">이미지 : </label>
		<div th:text="${trip.tripImg}">
	</div>
</body>
</html>