<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="plan">

	<!-- 여행계획 목록 페이지 -->
  <select id="findAll" resultType="plan">
    select plan_no, plan_title, plan_img, member_id
	from (select rownum n, a.* 
	from (select * from plan order by ${sort_col} desc) a)
	where n between #{start} and #{end}
  </select>
  
  <select id="findByRegion" resultType="plan">
    select plan_no, plan_title, plan_img, member_id, korea_code
	from (select rownum n, a.* 
	from (select * from plan where korea_code = #{region} order by ${sort_col} desc) a)
	where n between #{start} and #{end}
  </select>
  
  <select id="TotalRecord" resultType="java.lang.Integer">
  	select count(*) from plan
  </select>

  <select id="likedFindByMemberId" resultType="plan">
	select p.* from plan p, liked l
	where p.plan_no = l.NO
	and l.type = 'plan' and l.member_id = #{id};
  </select>
  
  <select id="NextNo" resultType="java.lang.Integer">
  	select nvl(max(plan_no), 0) + 1 from plan;
  </select>
  
  <select id="countDays" resultType="java.lang.Integer">
	select plan_end - plan_start + 1 from plan where plan_no = #{plan_no};
  </select>
  
  <select id="searchPlan" resultType="plan">
  	select * from plan where korea_code = #{region}
	and plan_title like '%#{search_keyword}%' order by ${sort_col} desc;
  </select>
  
  <update id="insertLiked" parameterType="plan">
  	update plan set plan_liked = plan_liked + 1 where plan_no = #{plan_no};
  </update>
  
  <update id="deleteLiked" parameterType="plan">
  	update plan set plan_liked = plan_liked - 1 where plan_no = {plan_no};
  </update>
  
  <!-- 
  - 찜하기

insert liked into(like_no, id, no, type) values(seq_liked.nextval, ?, ?, 'plan');
- 찜 취소하기
update plan set plan_liked = plan_liked - 1 where plan_no = ?;
delete liked where id = ? and no = ? and type = ?;
  
   -->
  
</mapper>