<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="liked">
  <select id="findByIdandType" resultType="liked">
  	select like_no,like_img,liked_title from liked where type=#{type} and member_id=#{member_id} and no=#{no}
  </select>
  
     <delete id="delete">
		delete from liked where like_no=#{like_no}	
    </delete>
 
</mapper>